<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件夹列表</title>
    <style>
        *{margin:0; padding:0;box-sizing:border-box;}

        ul{
            border:1px solid #ccc; margin:20px; display:flex; flex-wrap:wrap;
        }
        ul li {
            line-height:40px; list-style:none; width:30%; padding-left:20px;
        }
        ul li a {
            text-decoration:none; 
        }
    </style>
</head>
<body>
    

    <ul>

        <% arr.forEach(item=>{ %>
            <li><a href="<%= item.url %>"><%= item.name %></a></li>


        <% })   %>
        
    </ul>
</body>
</html>